
body {
    background-color: gainsboro;
}

.header {
    font-size: 50px;
    margin: 30px;
    padding: 20px;
    color: rgb(246, 119, 28);
    text-align: center;
    background-image: linear-gradient(to right,#00d4ff,#090979);
    border-radius: 9px;
}

.content {
    text-align: center;
    margin: 30px;
    padding: 30px;
}

.content h4 {
    font-family: 'Sherika', sans-serif;
    color:#090979;
    text-align: left;
}

.content p {
    font-family: 'IRENYekan', sans-serif;
    color: black;                                            
}

.content img {
    width: 800px;
    border-radius: 9px;
}

.bio, .disco{
    text-align: justify;
    margin: 30px;
    padding: 15px;
}

.disco img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.container, .footer {
    margin: 30px;
    padding: 65px;
    background-color: aliceblue;
    text-align: center;
}

iframe {
    width: 400px;
    height: 400px;
}
